.bg-en-cours
{
    color: #fff;
    background-color: #08c9bf !important;
}

.bg-unreachable-1
{
    color: #fff;
    background-color: #c4005b !important;
}

.bg-unreachable-2
{
    color: #fff;
    background-color: #8a03a8 !important;
}

.bg-confirmed
{
    color: #fff;
    background-color: #f7b633 !important;
}

.bg-planning
{
    color: #fff;
    background-color: #7100e2 !important;
}

.bg-shipped
{
    color: #fff;
    background-color: #0097ef !important;
}

.bg-delivered
{
    color: #fff;
    background-color: #26e00d !important;
}

.bg-refund
{
    color: #fff;
    background-color: #4d5125 !important;
}


/* //labels */
.label-en-cours
{
    color: #fff;
    background-color: #08c9bf !important;
}

.label-unreachable-1
{
    color: #fff;
    background-color: #c4005b !important;
}

.label-unreachable-2
{
    color: #fff;
    background-color: #8a03a8 !important;
}

.label-confirmed
{
    color: #fff;
    background-color: #f7b633 !important;
}

.label-planning
{
    color: #fff;
    background-color: #7100e2 !important;
}

.label-shipped
{
    color: #fff;
    background-color: #0097ef !important;
}

.label-delivered
{
    color: #fff;
    background-color: #26e00d !important;
}

.label-refund
{
    color: #fff;
    background-color: #4d5125 !important;
}

.label-pending-import
{
    color: #fff;
    background-color: #1009e8 !important;
}

.label-pending-advance
{
    color: #fff;
    background-color: #1a00c9 !important;
}

.label-pending-delivery
{
    color: #fff;
    background-color: #2bef00 !important;
}

.label-waiting-shipping-fee {
    color: #fff;
    background-color: #dd8500 !important;
}

.label-payment-received
{
    color: #fff;
    background-color: #18d100 !important;
}

.label-to-be-verified
{
    color: #fff;
    background-color: #a80075 !important;
}

.label-delivery-forwarded
{
    color: #fff;
    background-color: #a80075 !important;
}

.label-order-planned
{
    color: #fff;
    background-color: #001ee5 !important;
}

.label-on-reappro
{
    color: #fff;
    background-color: #db003a !important;
}

.label-on-purchase
{
    color: #fff;
    background-color: #002ee8 !important;
}

.label-planned-pus
{
    color: #fff;
    background-color: #b22300 !important;
}

.label-advance-paid
{
    color: #fff;
    background-color: #2900f9 !important;
}

.label-unfinished
{
    color: #fff;
    background-color: #7406e2 !important;
}

.label-shipped-other-town
{
    color: #fff;
    background-color: #0031d6 !important;
}

.label-planned-yde
{
    color: #fff;
    background-color: #001863 !important;
}
